<h1 mat-dialog-title>Add User</h1>
<div mat-dialog-content>
    <form [formGroup]="form" class="full-width">
        <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="12px" fxLayoutAlign="space-between" fxLayout.sm="column"
            fxLayout.xs="column">
            <div fxFlex="48">
                <mat-form-field>
                    <input type="text" matInput placeholder="First Name" formControlName="firstName">
                </mat-form-field>
            </div>

            <div fxFlex.md="48" fxFlex="48">
                <mat-form-field>
                    <input type="text" matInput placeholder="Last Name" formControlName="lastName">
                </mat-form-field>
            </div>

            <div fxFlex.md="48" fxFlex="48">
                <mat-form-field>
                    <input type="numeric" matInput placeholder="Age" formControlName="age">
                </mat-form-field>
            </div>

            <div fxFlex.md="48" fxFlex="48">
                <mat-form-field>
                    <input type="email" matInput placeholder="Email" formControlName="email">
                </mat-form-field>
            </div>

            <div fxFlex.md="48" fxFlex="48">
                <mat-form-field>
                    <input type="password" matInput placeholder="Password" formControlName="password">
                </mat-form-field>
            </div>

            <div fxFlex.md="48" fxFlex="48">
                <mat-form-field>
                    <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword">
                </mat-form-field>
            </div>

            <div fxFlex.md="48" fxFlex="48">
                <mat-form-field>
                    <input type="text" matInput placeholder="Community" formControlName="community">
                </mat-form-field>
            </div>

            <div fxFlex.md="48" fxFlex="48">
                <mat-form-field>
                    <input type="text" matInput placeholder="Address Line 1" formControlName="address_1">
                </mat-form-field>
            </div>

            <div fxFlex.md="48" fxFlex="48">
                <mat-form-field>
                    <input type="text" matInput placeholder="Address Line 2" formControlName="address_2">
                </mat-form-field>
            </div>

            <div fxFlex.md="48" fxFlex="48">
                <mat-form-field>
                    <input type="text" matInput placeholder="City" formControlName="city">
                </mat-form-field>
            </div>

            <div fxFlex.md="48" fxFlex="48">
                <mat-form-field>
                    <input type="text" matInput placeholder="State" formControlName="state">
                </mat-form-field>
            </div>

            <div fxFlex.md="48" fxFlex="48">
                <mat-form-field>
                    <input type="text" matInput placeholder="Phone" formControlName="phone">
                </mat-form-field>
            </div>

            <div fxFlex.md="48" fxFlex="48">
                <span style="font-size: 16px;">Role:&nbsp;</span>
                <mat-radio-group formControlName="role">
                    <mat-radio-button id="doctor-type" [value]="'doctor'" color="primary">Doctor
                    </mat-radio-button>&nbsp;
                    <mat-radio-button id="patient-type" [value]="'patient'" color="primary">Patient
                    </mat-radio-button>
                </mat-radio-group>
            </div>

            <div fxFlex="100">
                <button type="submit" mat-stroked-button color="primary" class="pull-right">Signup</button>
                <button mat-stroked-button class="pull-right" style="margin-right: 8px;">Cancel</button>
            </div>
        </div>

    </form>
</div>
<div style="height:30px; text-align: center" *ngIf="">
    <mat-progress-bar mode="buffer" color="accent"></mat-progress-bar>
</div>
<div mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]>Cancel
    </button>
    <button mat-button (click)="onAdd()" class="ml-8">
        Add
    </button>
</div>